.container-4 input#update{
    height: 30px;
    width: 10%;
    float: right;
    background: #f0f0f0;
    border: none;
    font-size: 15px;
    color: rgba(76, 88, 111, 0.7);
    padding-left: 15px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
  }
  
  .container-4 input#update:focus{
    background: #eaeaea;
    width: 90%;
    float: right;
  }
  